<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Cadastrar Clientes</title>
</head>
<body id="index">
    <h2 id="h2-index">Cadastre o Cliente!</h2>

    <form id="formulario" method="post">
        <input placeholder="Nome" type="text" name="nome">
        <input placeholder="Sobrenome" type="text" name="sobrenome">
        <input placeholder="Numero" type="number" name="numero">
        <input placeholder="Empresa" type="text" name="empresa">
        <input placeholder="Enviar" type="submit">
    </form>
</body>
</html>